# editors' directory
.idea
.vscode 

# virtual environment
backend/venv

# django project caches
backend/*/__pycache__
backend/*/tests/__pycache__

# environment values
backend/.env

# database & migrations
backend/db.sqlite3
backend/*/migrations